* {
    margin: 0px;
   padding: 0px;
    box-sizing: border-box;
    border-color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: gold;
    padding: 40px;
    text-align: left;
    font-size: 24px;
margin: 10px;
}
main {
    background-color: gray;
    padding: 60px;
    text-align: center;
    font-size: 24px;
    margin: 10px;
}
.footer {
    background-color: blue;
    padding: 40px;
    text-align: left;
    font-size: 24px;
margin: 10px;
}