* {
    margin: 0px;
   padding: 0px;
    box-sizing: border-box;
    border-color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: gold;
    padding: 40px;
    text-align: left;
    font-size: 24px;
margin: 10px;
border: black 2px solid;
}

.content {
    display: flex;
   margin: 0px;
}

aside {
background-color: gray;
padding: 50px;
    text-align: center;
    font-size: 24px;
    margin-right: 2%;
    width: 20%;
        border: black 2px solid;
}
main {
    background-color: mediumspringgreen;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    margin: 0px;
    width: 80%;
    border: black 2px solid;
}
.footer {
    background-color: blue;
    padding: 40px;
    text-align: left;
    font-size: 24px;
margin: 10px;
border: black 2px solid;
}