* {
    margin: 0px;
   padding: 0px;
    box-sizing: border-box;
    border-color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0%;
}

.header {
    background-color: gold;
    padding: 40px;
    text-align: left;
    font-size: 24px;
margin: 10px;
border: black 2px solid;
}

.menu {
    display: flex;
    margin: 10px;
    justify-content: flex-start;
}

.menu .box {
    background-color: pink;
    width: 120px;
    height: 60px;
    border: 2px solid black;
    margin-right: 10px;
}

.content {
    display: flex;
   margin: 10px;
}

aside {
background-color: gray;
padding: 50px;
    text-align: center;
    font-size: 24px;
    width: 30%;
        border: black 2px solid;
        margin-right: 2;
}

article {
    background-color: mediumspringgreen;
    padding: 50px;
    text-align: center;
    margin-left: 2%;
    width: 70%;
    border: black 2px solid;
}
.footer {
    background-color: blue;
    padding: 60px;
margin-top: 10px;
border: black 2px solid;
}