* {
    margin: 0px;
   padding: 0px;
    border-color: black;
    
}

body {

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    float: row;
    
}

.header {
    flex-basis: 40%;
    background-color: gold;
    padding: 60px;
    font-size: 24px;
    margin-right: 2%;
min-height: 50px;

}

.div1 {
     flex-basis: 40%;
    background-color: darkblue;
    padding: 72px;
    font-size: 24px;
    margin-bottom: 30%;
    width: 350%;
    min-height: 200px;
}

.div2 {
      flex-basis: 40%;
    background-color: gray;
    padding: 72px;
    font-size: 24px;
    margin-bottom: 30%;
    width: 350%;
    min-height: 250px;
}