* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0%;
}

.header {
    background-color: gold;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    margin: 10px;
    border: black 2px solid;
}

.header .box {
    background-color: blue;
    width: 120px;
    height: 60px;
    border: 2px solid black;
}

.menu {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.menu .box {
    background-color: pink;
    width: 120px;
    height: 60px;
    border: 2px solid black;
    margin-right: 10px;
}

.content {
    display: flex;
    margin: 10px;
}

aside {
    background-color: gray;
    padding: 30px;
    text-align: center;
    font-size: 24px;
    width: 30%;
    border: black 2px solid;
    margin-right: 2;
}


.text-box {
    background-color: whitesmoke;
    text-align: left;
    padding: 5px;

}

.text-box .h3 {
    text-align: center;
}
.img {
    width: 30%;
    height: auto;
    padding: 10px;
}

.article {
    background-color: mediumspringgreen;
    padding: 70px;
    text-align: center;
    margin-left: 5%;
    width: 70%;
    border: black 2px solid;
    display: flex;
    gap: 50px;
}

.footer .box1 {
    background-color: mediumspringgreen;
    width: 120px;
    height: 60px;
    border: 2px solid black;
    margin-right: 20px;
    text-align: center;
    color: white;
    padding: 110px;
}

.footer .box {
    background-color: blue;
    width: 120px;
    height: 60px;
    border: 2px solid black;
    margin-right: 20px;
    text-align: center;
    padding: 110px;
}

.footer {
    display: flex;
    margin: 10px;
    justify-content: center;
    background-color: blue;
    padding: 50px;
    border: black 2px solid;
}