
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: yellow;
    padding: 40px;
    text-align: left;
    font-size: 24px;

}
main {
    background-color: gray;
    padding: 60px;
    text-align: center;
    font-size: 24px;
}
.footer {
    background-color: blue;
    padding: 40px;
    text-align: left;
    font-size: 24px;

}