* {
    margin: 0px;
   padding: 0px;
    border-color: black;
    
}

body {

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    float: row;
    
}

.header {
    flex-basis: 40%;
    background-color: gold;
    padding: 50px;
    font-size: 24px;
    margin-right: 4%;
min-height: 20px;

}

.div1 {
     flex-basis: 30%;
    background-color: blue;
    padding: 80px;
    font-size: 24px;
    min-height: 150px;
    margin-bottom: 20%;
    width: 200px;
}
.div2 {
      flex-basis: 30%;
    background-color: gray;
    padding: 80px;
    font-size: 24px;
    min-height: 150px;
    margin-bottom: 20%;
    width: 200px;
}

.box {
     flex-basis: 40%;
    background-color: aqua;
    padding: 50px;
    font-size: 24px;
margin-left: 4%;
min-height: 300px;
}
